<div class="sidebar">
    <div class="sidebar-header">
        <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" alt="Logo">
        PARAÍSO DAS AVES
    </div>
    <div class="menu">
        <a href="/clientes">Gestão de Clientes</a>
        <a href="/animais" class="active">Gestão de Animais</a>
        <a href="/funcionarios">Gestão de Funcionário</a>
        <a href="/fornecedor">Gestão de Fornecedor</a>
        <a href="/estoque">Gerenciamento de estoque</a>
        <a href="/produtos">Cadastrar Produtos</a>
        <a href="/servicos">Gestão de Serviço</a>
        <a href="/">Gestão de Agendamento</a>
        <a href="#">Gestão Financeira</a>
        <a href="#">Gestão de Venda</a>
        <a href="#">Gestão de Compra</a>
        <a href="#">Administração do Caixa</a>
        <a href="#">Contas a receber</a>
        <a href="#">Contas a pagar</a>
    </div>
</div>
