<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Paraíso das Aves</title>

    <base href="/" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="/css/app.css" />

    <link rel="stylesheet" href="AppExemplo.styles.css" />

    <HeadOutlet />
    
</head>
<body>


    <Routes />
    <script src="_framework/blazor.web.js"></script>

</body>
</html>
